<!DOCTYPE html>
<html>
    <head>
        <title>Sophia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/mdui/0.4.1/css/mdui.min.css">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <%- body %>
        <script src="//cdnjs.loli.net/ajax/libs/mdui/0.4.1/js/mdui.min.js"></script>
    </body>
</html>
