<div class="mdui-appbar">
  <div class="mdui-toolbar mdui-color-pink">
    <a href="#" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">menu</i></a>
    <a href="#" class="mdui-typo-headline">Sophia</a>
    <a href="#" class="mdui-typo-title">Administrator</a>
    <div class="mdui-toolbar-spacer"></div>
    <a href="#" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>
    <a href="#" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">refresh</i></a>
    <a href="#" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">more_vert</i></a>
  </div>
</div>
