<div class="mdui-panel mdui-panel-gapless" mdui-panel>
  <div class="mdui-panel-item">
    <div class="mdui-panel-item-header">
      <div class="mdui-panel-item-title">OPACHelper</div>
      <div class="mdui-panel-item-summary">正常</div>
      <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
    </div>
    <div class="mdui-panel-item-body">
      <p>2333</p>
    
      <button class="mdui-btn mdui-ripple">更新数据</button>
    </div>
  </div>
</div>
